<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="phone.rest.yuyu.dlanlibrary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--模糊定位权限：一般用于网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--精确定位权限：一般用于gps定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--系统级别弹窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application>
        <activity android:name=".ui.ScreeningActivity"/>

        <service android:name=".service.BluetoothService"/>
    </application>

</manifest>